.footer {
  background-color: $light-gray;
  border-top-left-radius: 52px;
  border-top-right-radius: 52px;
  padding: 60px 0 40px;

  @media (max-width: $bp4) {
    padding: 20px 0;
    border-radius: 0;
  }

  &__inner {
    display: flex;
    justify-content: space-between;

    @media (max-width: $bp3) {
      flex-direction: column;
      justify-content: flex-start;
      gap: 40px;
    }
    @media (max-width: $bp4) {
      gap: 20px;
    }
  }

  &__subright {
    display: flex;
    gap: 80px;

    @media (max-width: $bp2) {
      gap: 30px;
    }
    @media (max-width: $bp3) {
      justify-content: space-between;
    }
    @media (max-width: $bp4) {
      flex-direction: column-reverse;
      justify-content: flex-start;
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 400px;

    @media (max-width: $bp1) {
      max-width: 300px;
    }

    & span {
      font-size: 16px;
      font-weight: 500;
      line-height: 18px;

      @media (max-width: $bp1) {
        font-size: 14px;
      }
    }
  }

  &__links {
    @media (max-width: $bp4) {
      margin-top: 30px;
    }

    & ul {
      display: grid;
      grid-template-columns: 1fr 1fr;
      column-gap: 80px;
      row-gap: 10px;

      @media (max-width: $bp2) {
        column-gap: 40px;
      }
      @media (max-width: $bp4) {
        column-gap: 20px;
      }

      & li {
        & a {
          font-size: 16px;
          font-weight: 500;
          color: $dark-gray;

          &:hover {
            background: $text-gradient !important;
            -webkit-background-clip: text !important;
            -webkit-text-fill-color: transparent !important;
          }
        }
      }
    }
  }

  &__social {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  &__left {
    display: flex;
    flex-direction: column;
    gap: 40px;

    @media (max-width: $bp2) {
      gap: 30px;
    }

    @media (max-width: $bp4) {
      gap: 20px;
    }
  }

  &__right {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  &__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    margin-top: 120px;

    @media (max-width: $bp2) {
      margin-top: 100px;
    }

    @media (max-width: $bp4) {
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      gap: 40px;
      margin-top: 60px;
    }
  }

  &__copyright {
    display: flex;
    flex-direction: column;
    gap: 10px;

    & span {
      font-size: 16px;
      font-weight: 500;
      line-height: 18px;
      color: $dark-gray;

      @media (max-width: $bp2) {
        font-size: 14px;
      }
    }
  }

  &__omni {
    position: relative;

    &:hover {
      & svg {
        opacity: 1;
        visibility: visible;
      }

      & a {
        color: #ffe457;
      }
    }

    & svg {
      position: absolute;
      z-index: 5;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
      opacity: 0;
      visibility: hidden;
      transition: all 0.3s;
      color: $dark-gray;
    }

    & a {
      position: relative;
      z-index: 10;
      font-size: 16px;
      font-weight: 500;
      line-height: 18px;
      color: $dark-gray;
      transition: all 0.3s;

      @media (max-width: $bp2) {
        font-size: 14px;
      }
    }
  }
}
